@using MudBlazor
<MudThemeProvider Theme="@_customTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not Found</PageTitle>
        <LayoutView Layout="typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private MudTheme _customTheme = new MudTheme
    {
            PaletteLight = new PaletteLight
        {
            Primary = "#007bff",
            AppbarBackground = "#007bff",
            DrawerBackground = "#ffffff"
        }
    };
}