@using MudBlazor
<MudThemeProvider Theme="@_customTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private readonly MudTheme _customTheme = new()
    {
        PaletteDark = new PaletteDark
        {
            Primary = "#2196F3",
            Secondary = "#F50057",
            Background = "#121212",
            Surface = "#1E1E1E",
            TextPrimary = "#FFFFFF",
            TextSecondary = "#B0BEC5",
            AppbarBackground = "#2196F3",
            ActionDefault = "#FFFFFF"
        },
        LayoutProperties = new LayoutProperties
        {
            DefaultBorderRadius = "8px"
        }
    };
}