:root {
    --mud-palette-primary: #007bff;
    --mud-palette-primary-text: #ffffff;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.mud-container {
    padding: 16px;
}

.mud-appbar {
    background-color: var(--mud-palette-primary) !important;
}
.mud-popover {
    z-index: 10000 !important;
}
