body, html, #app {
    margin: 0;
    width: 100%;
    max-width: none;
}

.mud-main-content {
    padding: 16px 8px;
    transition: margin-left 0.3s ease-in-out;
}

.mud-drawer-open .mud-main-content {
    margin-left: 200px;
}

@media (max-width: 959.99px) {
    .mud-main-content {
        margin-left: 0 !important;
    }
}

.mud-table-clean .mud-table-cell {
    padding: 12px 16px;
    font-size: 1rem;
}

.expressive-icon:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}
